{% extends "base_publica.html" %}

{% block conteudo %}
<div class="p-5 mb-4 rounded-4 shadow-sm destaque-home">
    <div class="container-fluid py-3">
        <h1 class="display-5 fw-bold">Bem-vindo ao TechStore Manager</h1>
        <p class="col-md-10 fs-5">
            O TechStore Manager é um sistema web de gestão comercial voltado para lojas de tecnologia.
            O objetivo do sistema é facilitar o controle de usuários, produtos e categorias, trazendo
            mais organização e praticidade para o negócio.
        </p>

        
    </div>
</div>

<div class="row g-4 mt-2">
    <div class="col-md-4">
        <div class="card h-100 shadow-sm card-home">
            <div class="card-body">
                <h3 class="card-title">Gestão de Usuários</h3>
                <p class="card-text">
                    Cadastro e visualização de usuários do sistema com perfis diferentes.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100 shadow-sm card-home">
            <div class="card-body">
                <h3 class="card-title">Controle de Produtos</h3>
                <p class="card-text">
                    Listagem de produtos com preço, estoque e vínculo com categorias.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card h-100 shadow-sm card-home">
            <div class="card-body">
                <h3 class="card-title">Organização por Categorias</h3>
                <p class="card-text">
                    Separação dos produtos por categoria para facilitar a gestão do catálogo.
                </p>
            </div>
        </div>
    </div>
</div>

<hr class="my-4">

<div class="atalhos-footer-home">
    <h3 class="mb-3">Acessos rápidos</h3>

    <div class="d-flex flex-wrap justify-content-center gap-2 mt-3 atalhos-footer-home">
        <a href="{{ url_for('listar_usuarios') }}" class="btn btn-primary">Listar Usuários</a>
        <a href="{{ url_for('inserir_usuario') }}" class="btn btn-success">Inserir Usuário</a>

        <a href="{{ url_for('listar_produtos') }}" class="btn btn-primary">Listar Produtos</a>
        <a href="{{ url_for('inserir_produto') }}" class="btn btn-success">Inserir Produto</a>

        <a href="{{ url_for('listar_categorias') }}" class="btn btn-primary">Listar Categorias</a>
        <a href="{{ url_for('inserir_categoria') }}" class="btn btn-success">Inserir Categoria</a>
    </div>
</div>
{% endblock %}