{% extends "base.html" %}

{% block conteudo %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Listagem de Categorias</h2>
    <a href="{{ url_for('inserir_categoria') }}" class="btn btn-success">Nova Categoria</a>
</div>

<table class="table table-hover table-bordered align-middle">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Status</th>
            <th>Setor</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for categoria in categorias %}
        <tr>
            <td>{{ categoria.id }}</td>
            <td>{{ categoria.nome }}</td>
            <td>{{ categoria.descricao }}</td>
            <td>{{ categoria.status }}</td>
            <td>{{ categoria.setor }}</td>
            <td>
                <a href="#" class="btn btn-sm btn-primary">Editar</a>
                <a href="{{ url_for('excluir_categoria', id=categoria.id) }}" class="btn btn-sm btn-danger" onclick="return confirmarExclusao()">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
